html {
    scroll-behavior: smooth;
}

body {
    direction: ltr;
    margin: 0;

}

/*header*/

header {

    display: flex;
    justify-content: space-around;
    height: 64px;
    background-color: rgb(54, 3, 3);
    color: #fff;
    font-family: Arial;
}

header>a>svg {
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
}

.header-left {
    border:2px solid rgb(34, 0, 255);
    width: 400px;
    margin-left: 0;
}

.header-left>ul {
    border:2px solid rgb(34, 0, 255);
    list-style: none;
    display: flex;
    cursor: pointer;
    padding: 15px 0;
    
}

.header-left>ul>li {
    list-style: none;
    cursor: pointer;
    text-align: center;
    width: 100px;
}

.header-left>ul>li>ul {
    
    list-style: none;
    cursor: pointer;
    display: none;
    padding: 0;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    width: 200px;
    color: black;
    z-index: 20;
    position: relative;
}

.header-left>ul>li:hover>ul {
    display: block;
}

.header-left>ul>li>ul>li {
    list-style: none;
    cursor: pointer;
    text-align: left;
    width: 190px;
    padding: 5px;
}

.header-left>ul>li>ul>li:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}

.header-right {
    width: 30%;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.header-right>a {
    text-decoration: none;
    color: white;
    font-weight: 200px;
    line-height: 60px;
}

.header-right-plus {
    font-size: x-large;
    font-weight: bolder;
}

.header-right>.header-right-search {
    padding-top: 15px;
}

/*main*/

.main {
    width: 1280px;
    height: 350px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

h2,
h3 {
    text-shadow: 1px 1px 20px rgb(23, 10, 10);
    font-size: xx-large;
    position: relative;
    top: -300px;
    left: 100px;
    width: 1000px;
}

h1 {
    display: none;
}

.main>img {
    width: 100%;
    height: 100%;

}

#main_search_v4 {
    position: relative;
    top: -280px;
    left: 100px;
    width: 1100px;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    border: none;

}

#main_search_form>.butt {
    border: none;
    border-radius: 30px;
    position: relative;
    top: -280px;
    left: 40px;
    height: 40px;
    width: 70px;
    background-image: linear-gradient(red, yellow);
    font-weight: bold;
    cursor: pointer;
}

/* Trending */
/*header*/
.radio-toolbar {
    margin: 0;
    padding: 10px;
    background-image: url("../img/background1.jpg");

}

.radio-toolbar-title {
    padding-left: 20px;
    font-weight: 800;
    font-size: large;
    font-family: Arial;
    color: white;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    color: white;
    background-color: none;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: rgb(95, 35, 35);
    border: 1px solid rgb(95, 35, 35);
    color: white;
}

.radio-toolbar-border {
    border: 1px solid rgb(112, 32, 32);
    padding: 5px 0;
    border-radius: 15px;
}

/*movies*/

.radio-toolbar-movies {
    /*border: 1px solid red;*/
    margin: 5px 15px;
    height: 350px;
    width: 1200px;
}

.radio-toolbar-movies>ul {
    height: 320px;
    width: 1200px;
    display: grid;
    grid-auto-columns: calc(23% - 100px);
    grid-auto-flow: column;
    grid-gap: 0;
    overflow-x: auto;
    list-style: none;
    /*border: 1px solid rgb(44, 255, 12);*/
    position: absolute;
    padding: 0;
}

.radio-toolbar-movies>ul>li {
    width: 150px;
    text-align: center;
    height: 220px;
    margin: 5px 10px;
    cursor: pointer;
    position: relative;
}

.radio-toolbar-movies-pic>img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.radio-toolbar-movies-txt {
    width: 120px;
    margin: auto;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.radio-toolbar-movies-date {
    font-weight: 200;
    color: rgb(151, 151, 151);
}

/* latest trailors*/

.trailors {
    margin: 0;
    width: 1219px;
    height: 280px;
    padding: 30px;
    position: relative;
}

.trailors::before {
    background-image: url("../img/background2.jpg");
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.trailors-radio-title {
    position: relative;
    font-weight: 800;
    font-size: large;
    font-family: Arial;
}

.trailors input[type="radio"] {
    display: none;
}

.trailors label {
    position: relative;
    display: inline-block;
    background-color: none;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.trailors input[type="radio"]:checked+label {
    background-color: rgb(146, 71, 25);
    border: 1px solid rgb(146, 71, 25);
    color: white;
}

.trailors-radio-border {
    border: 1px solid rgb(146, 71, 25);
    padding: 5px 0;
    border-radius: 15px;
}

/* movies*/

.trailors-movies-pic {
    box-shadow: rgb(236, 234, 215) 3px 2px 5px 4px;
    width: 300px;
    height: 169px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.trailors-movies {
    position: relative;
}

.trailors-movies>ul {
    height: 250px;
    width: 1200px;
    display: grid;
    grid-auto-columns: calc(35% - 100px);
    grid-auto-flow: column;
    grid-gap: 0;
    overflow-x: auto;
    list-style: none;
    padding: 0;
}

.trailors-movies>ul>li {
    width: 300px;
    text-align: center;
    height: 220px;
    margin: 5px 10px;
    cursor: pointer;
}

.trailors-movies-pic:hover {
    transform: scale(105%, 105%);

}

.trailors-movies-pic>img {
    border-radius: 15px;
    height: 100%;
    width: 100%;

}

.trailors-movies-txt {

    color: rgb(1, 2, 1);
    font-family: Arial;
    margin: auto;
    font-weight: bold;
}


.trailors-movies-details {
    color: rgb(1, 2, 1);
    font-family: Arial;
    margin: auto;
}

/*What's Popular*/

.popular {
    margin: 0;
    width: 1219px;
    height: 320px;
    padding: 30px;

}

.popular-radio-title {
    position: relative;
    font-weight: 800;
    font-size: large;
    font-family: Arial;
}

.popular input[type="radio"] {
    display: none;
}

.popular label {
    position: relative;
    display: inline-block;
    background-color: none;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.popular input[type="radio"]:checked+label {
    background-color: rgb(215, 180, 23);
    border: 1px solid rgb(215, 180, 23);
    color: white;
}

.popular-radio-border {
    border: 1px solid rgb(215, 180, 23);
    padding: 5px 0;
    border-radius: 15px;
}

/*movies*/
#popular-txt {
    color: black;
}

#popular-movies {
    height: 290px;
}

/*join*/

.join {
    background-image: url("../img/background4.jpg");
    background-size: 1300px 300px;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: Arial;
}

.join-left {
    margin: 40px 35px;
    color: white;
    width: 800px;
    font-size: 15px;
    height: 200px;
}

#h2-two {
    color: white;
    top: 0;
    left: 0;
}

.join-right {
    margin: 80px 35px;
    width: 500px;
    height: 200px;
}

.join-butt {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(100, 14, 14);
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

/*bottom*/
.bottom {
    padding-top: 40px;
    height: 320px;
    background-color: rgb(54, 3, 3);
}

.bottom-in {
    margin: auto;
    display: flex;
    width: 900px;
    height: 200px;
    color: white;
    font-family: Arial;

}

.bottom-column>ul>h3 {

    width: 150px;
    font-weight: bold;
    font-size: 1.4em;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
}

.bottom-column>ul {
    cursor: pointer;
    list-style: none;
    margin: 100px 5px;
    width: 140px;
}

.bottom-butt {
    border-radius: 10px;
    background-color: white;
    color: rgb(54, 3, 3);
    height: 40px;
    width: 190px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.bottom-butt>a {
    text-decoration: none;
    color: rgb(54, 3, 3);
}